<div class="login p-4 space">
  <h1 class="text-center">Please log in</h1>
  <form action="/log-in" method="POST">
    <p><label for="username">Username</label></p>
    <p><input name="username" placeholder="username" type="text" /></p>
    <p><label for="password">Password</label></p>
    <p><input name="password" type="password" /></p>
    <button class="btn btn-primary">Log In</button>
  </form>
</div>