<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head', {title: title}); -%>
    <title>Sign Up</title>
</head>
<body>
  <header>
    <%- include('./partials/header.ejs', {user: user}); -%>
  </header>
  <h1 class="text-center p-2">Sign Up</h1>
  <div class="signup">
    <form action="" method="POST">
      <p><label for="username">Username</label></p>
      <p><input name="username" placeholder="username" type="text" /></p>
      <p><label for="password">Password</label></p>
      <p><input name="password" type="password" /></p>
      <button class="btn btn-primary">Sign Up</button>
    </form>
  </div>
  <%- include('./partials/errors.ejs'); -%>
  <footer>
    <%- include('./partials/footer.ejs'); -%>
  </footer>
</body>
</html>